In [1]:
#Importing necessary libraries
import pandas as pd
import numpy as np

In [2]:
#Reading of file into a dataframe
heart=pd.read_csv('d:/DATA SETS/heart.csv')

In [3]:
#View of top five entries of Dataframe
heart.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [4]:
#Here the target variable is Heart disease
#Checking the info about the dataset
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

##### Sex,Chestpain,RestingECG,ExcersiceAngina,St_slope are the object variable which we need to convert to numeric data since in machine learning categorial data cannot be passed

In [5]:
heart.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

##### There is no null vaue in the data set

In [6]:
#Assigning predictor varables to X and target variable to y
X=heart.drop('HeartDisease',axis=1)
y=heart.iloc[:,-1]

In [7]:
X.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up

In [8]:
y.head()

0    0
1    1
2    0
3    1
4    0
Name: HeartDisease, dtype: int64

In [9]:
#Since there is categorical data in the dataset we need to conver it into numerical
#Before converting importing labelencoder 
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
le=LabelEncoder()

In [10]:
X.iloc[:,1]=le.fit_transform(X.iloc[:,1])
X.iloc[:,2]=le.fit_transform(X.iloc[:,2])
X.iloc[:,6]=le.fit_transform(X.iloc[:,6])
X['ExerciseAngina']=le.fit_transform(X['ExerciseAngina'])
X.iloc[:,-1]=le.fit_transform(X.iloc[:,-1])

In [11]:
X.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,1,1,140,289,0,1,172,0,0.0,2
1,49,0,2,160,180,0,1,156,0,1.0,1
2,37,1,1,130,283,0,2,98,0,0.0,2
3,48,0,0,138,214,0,1,108,1,1.5,1
4,54,1,2,150,195,0,1,122,0,0.0,2

In [12]:
#Importing model selection teechnique to split the data into X_train,X_test,y_train,y_test
from sklearn.model_selection import train_test_split

In [52]:
#Splitting the data 
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=501)

In [53]:
#Standerizing the scale 
X_train_transform=sc.fit_transform(X_train)
X_test_transform=sc.fit_transform(X_test)

#### Logistic Regression

In [61]:
#importing Logistic regression model
from sklearn.linear_model import LogisticRegression

In [62]:
#Initializing the model
heart_lr=LogisticRegression()

In [63]:
#Training the model 
heart_lr.fit(X_train_transform,y_train)

LogisticRegression()

In [64]:
#Predicting the model and storing it in the variable
y_hat=heart_lr.predict(X_test_transform)

In [65]:
#Libraries to check the performance of the model
from sklearn.metrics import confusion_matrix,classification_report

In [66]:
print(classification_report(y_test,l))

              precision    recall  f1-score   support

           0       0.88      0.86      0.87       125
           1       0.88      0.91      0.90       151

    accuracy                           0.88       276
   macro avg       0.88      0.88      0.88       276
weighted avg       0.88      0.88      0.88       276

In [67]:
confusion_matrix(y_test,l)

array([[107,  18],
       [ 14, 137]], dtype=int64)

### Accuracy of the model is 88 %

#### Decision Tree Classifier

In [68]:
#Same procedure is followed by all the models like that of logistics
from sklearn.tree import DecisionTreeClassifier

In [69]:
dc=DecisionTreeClassifier(max_depth=6)

In [70]:
dc.fit(X_train_transform,y_train)

DecisionTreeClassifier(max_depth=6)

In [71]:
d=dc.predict(X_test_transform)

In [72]:
confusion_matrix(y_test,d)

array([[107,  18],
       [ 28, 123]], dtype=int64)

In [73]:
print(classification_report(y_test,d))

              precision    recall  f1-score   support

           0       0.79      0.86      0.82       125
           1       0.87      0.81      0.84       151

    accuracy                           0.83       276
   macro avg       0.83      0.84      0.83       276
weighted avg       0.84      0.83      0.83       276

### Accuracy of Decission tree is 83%

#### Support Vector Classifier

In [74]:
from sklearn.svm import SVC

In [75]:
svc=SVC()

In [76]:
svc.fit(X_train_transform,y_train)

SVC()

In [77]:
s=svc.predict(X_test_transform)

In [78]:
print(classification_report(y_test,s))

              precision    recall  f1-score   support

           0       0.89      0.84      0.86       125
           1       0.87      0.91      0.89       151

    accuracy                           0.88       276
   macro avg       0.88      0.88      0.88       276
weighted avg       0.88      0.88      0.88       276

#### Random Forest

In [79]:
from sklearn.ensemble import RandomForestClassifier

In [80]:
rfc=RandomForestClassifier(n_estimators=100,max_depth=7)

In [81]:
rfc.fit(X_train_transform,y_train)

RandomForestClassifier(max_depth=7)

In [82]:
r=rfc.predict(X_test_transform)

In [83]:
print(classification_report(y_test,r))

              precision    recall  f1-score   support

           0       0.90      0.86      0.88       125
           1       0.89      0.92      0.91       151

    accuracy                           0.89       276
   macro avg       0.90      0.89      0.89       276
weighted avg       0.90      0.89      0.89       276

#### Gradient Boosting

In [84]:
from sklearn.ensemble import GradientBoostingClassifier

In [85]:
learning_rate = [0.05,0.1,0.25,0.5,0.75,1]

In [86]:
for lr in learning_rate:
    gb = GradientBoostingClassifier(
                    n_estimators=100,
                    learning_rate=lr,
                    max_features=5,
                    max_depth=5)
    gb.fit(X_train_transform,y_train)
    
    print("learning rate:",lr)
    print("Accuracy(training):{0:3f}".format(gb.score(X_train_transform,y_train)))
    print("Accuracy(validation):{0:3f}".format(gb.score(X_test_transform,y_test)))

learning rate: 0.05
Accuracy(training):0.982866
Accuracy(validation):0.891304
learning rate: 0.1
Accuracy(training):1.000000
Accuracy(validation):0.876812
learning rate: 0.25
Accuracy(training):1.000000
Accuracy(validation):0.865942
learning rate: 0.5
Accuracy(training):1.000000
Accuracy(validation):0.873188
learning rate: 0.75
Accuracy(training):1.000000
Accuracy(validation):0.887681
learning rate: 1
Accuracy(training):1.000000
Accuracy(validation):0.851449

In [135]:
gbc=GradientBoostingClassifier(n_estimators=75,
                    learning_rate=0.05,
                    max_features=3,
                    max_depth=6)

In [136]:
gbc.fit(X_train_transform,y_train)

GradientBoostingClassifier(learning_rate=0.05, max_depth=6, max_features=3,
                           n_estimators=75)

In [137]:
g=gbc.predict(X_test_transform)

In [138]:
print(classification_report(y_test,g))

              precision    recall  f1-score   support

           0       0.91      0.85      0.88       125
           1       0.88      0.93      0.91       151

    accuracy                           0.89       276
   macro avg       0.90      0.89      0.89       276
weighted avg       0.90      0.89      0.89       276